header {
    background: #282c34;
    border-bottom: 6px solid #cdcdcd;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.clearfix:after {
    content: "";
    clear: both;
    display: table;
}
.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.logo-title {
    margin: 0;
    float: left;
}
.logo {
    padding: 5px 0 0 0;
    display: block;
}
.nav li{
    display: inline-block;
    margin: 0 10px;
    color: #fff;
}
.nav li a:hover {
    background: #cdcdcd;
    color: #282c34;
}
a {
   text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px 10px;
}
.link {
    color: #61dafb;
}
