.Home {
    margin: 20px auto;
    width: 1000px;
}
.title-home {
    background: #282c34;
    color: #fff;
    padding: 7px;
    border-bottom: 8px solid #cdcdcd;
}
.div-text-home {
    border: 1px solid #cdcdcd;
    padding: 10px;
    border-radius: 5px;
    background: #fff;
}
.text{
    line-height: 1.6;
    font-size: 18px;
}
.items {
    display: flex;
    margin: 20px -10px;
    padding: 50px 0;
}
.item {
    width: 33%;
    margin: 0 10px;
    padding: 0 20px;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
}